Options +FollowSymlinks

# Prevent Directoy listing 
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log|htaccess)">
 Order deny,allow
 Deny from all
</FilesMatch>

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/ 

RewriteBase /

######### temporary redirect for pre launch
#RewriteCond %{REQUEST_URI} .*\.php$
#RewriteCond %{REQUEST_URI} !/merchant/index\.php$
#RewriteRule ^(.*)$ /merchant/index.php?route=error/not_found [L]
#RewriteCond %{REQUEST_URI} index\.php[^?]+$
#RewriteRule ^(.*)$ /merchant/index.php?route=error/not_found [L]
#RewriteCond %{REQUEST_URI} !^/image
#RewriteCond %{REQUEST_URI} !^/merchant
#RewriteRule ^(.*)$ /merchant/$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
#RewriteRule ^([^?]*[^/]) /merchant/index.php?_route_=$1 [L]
#########

#RewriteCond %{REQUEST_URI} !^/robots\.txt$ [NC]
#RewriteCond %{HTTP_HOST} !^www\.[^/]+ [NC]
#RewriteCond %{HTTP_HOST} ([^/]+)   [NC]
#RewriteCond %{HTTPS} on
#RewriteRule ^/(.*)$ https://%1/$1 [R=301,L]
#RewriteRule ^/(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^sitemap.xml$ index.php?route=feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=feed/google_base [L]
RewriteRule ^download/(.*) /index.php?route=error/not_found [L]
RewriteRule ^system/?(.*) /index.php?route=error/not_found [L]
RewriteRule ^nbproject/?(.*) /index.php?route=error/not_found [L]

RewriteCond %{REQUEST_URI} ^/admin/.*\.php$
RewriteCond %{REQUEST_URI} !/admin/index\.php$
RewriteRule ^(.*)$ /admin/index.php?route=error/not_found [L]

RewriteCond %{REQUEST_URI} ^/merchant/.*\.php$
RewriteCond %{REQUEST_URI} !/merchant/index\.php$
RewriteRule ^(.*)$ /merchant/index.php?route=error/not_found [L]

RewriteCond %{REQUEST_URI} .*\.php$
RewriteCond %{REQUEST_URI} !/index\.php$
RewriteRule ^(.*)$ /index.php?route=error/not_found [L]

RewriteCond %{REQUEST_URI} index\.php[^?]+$
RewriteRule ^(.*)$ /index.php?route=error/not_found [L]

RewriteCond %{REQUEST_URI} ^/admin/?(.+) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*[^/]) /admin/index.php?_route_=$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/merchant/?(.+) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*[^/]) /merchant/index.php?_route_=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*[^/]) /index.php?_route_=$1 [L,QSA]

ErrorDocument 400 /index.php?route=error/not_found
ErrorDocument 401 /index.php?route=error/not_found
ErrorDocument 403 /index.php?route=error/not_found
ErrorDocument 404 /index.php?route=error/not_found
ErrorDocument 500 /index.php?route=error/not_found